.codehilite {
    width:101%;
    padding: 3px;
    background-color: #ffffcc;
    white-space:normal;
    border-radius:10px;
    -moz-border-radius:10px; /* Old Firefox */
}

.codehilite span{word-break: normal;word-wrap:break-word; white-space:normal;}

#blog_content h1{
	padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}

#blog_content h1, #blog_content h2, #blog_content h3, #blog_content h4, #blog_content h5, #blog_content h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4;
    font-family: "Microsoft YaHei", Helvetica, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", "Monaco", monospace, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;
}

#blog_content ol{
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

#blog_content h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
    padding: 8px;
    font-weight: 400;
    background: #79aec8;
    color: #fff;
}

.update_time{
    color: grey;
}