{% extends "base.html" %}
{%load utils%}
<div></div>
{% block head %}
	<link rel="stylesheet" href="/static/css/validationEngine.jquery.css">
	<!--<link href="/static/ueditor/third-party/SyntaxHighlighter/shCoreEclipse.css"
			rel="stylesheet" type="text/css" media="all" />-->
	<link href="/static/umeditor/themes/default/css/umeditor.min.css"
		type="text/css" rel="stylesheet">
	<!--<link href="/static/css/codehilite_colorful.css"
		type="text/css" rel="stylesheet">-->
	<link rel="stylesheet" href="/static/css/details.css" />

	<link rel="stylesheet" href="/static/editor.md/css/editormd.preview.css" />
{% endblock %}
{% block content %}
<section id="content">
	<div class="wrap-content">
		<div class="row block">
			<div id="main-content" class="col-2-3">
				<div class="wrap-col">
					<article >
						<div class="heading">
							<h2>
								{{blog.title}}
							</h2>
						</div>

						{% if  user.is_authenticated %}
								<div><a href="/admin/blog/blogpost/{{blog.guid}}/change/">edit</a></div>
						{% endif %}

						<div id="blog_content" class="content">载入中，请稍后...</div>

						<div class="info" >
							<p>
								来自 {{blog.author}} 写于 {{blog.timestamp|date:'Y-m-d H:i'}} -
								<a href="#">{{commentsCount}}
									条评论</a>
							</p>
						</div>
					</article>
					<section>
						<a id="anchor_scroll" href="#submit_reply" style="display:none">点击这里本页跳转</a>
						<h3 id="submit_reply">{{commentsCount}}条评论</h3>
						{% if blog.allow_comment %}
							<form id="contact-form" method="post">
								{% csrf_token %}
								<script src="/static/js/jquery.validationEngine-zh_CN.js"></script>
								<script src="/static/js/jquery.validationEngine.min.js"></script>
								<fieldset>
									<input type="hidden" name="aid" value='{{blog.guid}}' />
									<!--<label><input name="email" value="Email" onBlur="if(this.value=='') this.value='Email'" onFocus="if(this.value =='Email' ) this.value=''" /></label> -->
									<label><input name="user" placeholder="用户名" class="validate[required]"/></label>
									<!--<textarea name='message' id="id_body" style="height:100px;" class=""></textarea>-->
									
									<script type="text/plain" name='message' id="id_body"
											style="width:100%;height:120px;"></script>

									<div class="buttons">
										<a href="#"
											onClick="document.getElementById('contact-form').reset()">清除</a>
										<a href="#" id='sendMsg' >发送</a>
									</div>
								</fieldset>
							</form>
						{% else %}
							<p>这篇文章不允许评论。</p>
						{% endif %}

					</section>
					<section>
					<h4>评论:</h4>
					{% for cm in comments %}
					<div style="padding-top:2;padding-left:10;margin:0;">
						<div class="content">
							<p style="color:black;">
								● 来自 <span style="font-weight:bold;">{{cm.author|safe}}</span>
								写于 <span style="">{{cm.timestamp|date:'Y-m-d H:i'}}</span>
								<span class="reply_cms" cid="{{cm.id}}" cname="{{cm.author}}"
									  style="text-decoration:underline;cursor:pointer;">回复</span>
							</p>
							<div style="margin-left:20px;">{{cm.body|safe}}</div>
						</div>
					</div>
					{% endfor %}
					</section>

				</div>
			</div>
			<div id="sidebar" class="col-1-3">
				<div class="wrap-col">
					<div class="box">
						<div class="heading">
							<h2>文章分类</h2>
						</div>
						<div class="content">
							<ul>
								{% for cate in category %}
									{% if cate.title == blog.category %}
                                        <li>
                                            <a href="/blog/catelist/{{cate.id}}">
                                                <span style="color:grey;font-weight:bold;">
                                                    {{cate.title}}
                                                </span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li><a href="/blog/catelist/{{cate.id}}">{{cate.title}}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block script %}
<!--<script type="text/javascript"
		src="/static/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>-->

<!--BLOCK EDITOR.MD-->
<script src="/static/editor.md/lib/marked.min.js"></script>
<script src="/static/editor.md/lib/prettify.min.js"></script>
<script src="/static/editor.md/lib/raphael.min.js"></script>
<script src="/static/editor.md/lib/underscore.min.js"></script>
<script src="/static/editor.md/lib/sequence-diagram.min.js"></script>
<script src="/static/editor.md/lib/flowchart.min.js"></script>
<script src="/static/editor.md/lib/jquery.flowchart.min.js"></script>
<script src="/static/editor.md/editormd.js"></script>
<script type="text/javascript">
	$(function(){
		function markdown_to_html(markdown){
			$("#blog_content").html("");
			testEditormdView = editormd.markdownToHTML("blog_content", {
				markdown        : markdown ,//+ "\r\n" + $("#append-test").text(),
				//htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
				htmlDecode      : "style,script,iframe",  // you can filter tags decode
				//toc             : false,
				tocm            : true,    // Using [TOCM]
				//tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
				//gfm             : false,
				//tocDropdown     : true,
				// markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
				emoji           : true,
				taskList        : true,
				tex             : true,  // 默认不解析
				flowChart       : true,  // 默认不解析
				sequenceDiagram : true,  // 默认不解析
			});
		}

		function get_content(answer_str){
			$.ajax({
				type: 'get',
				url: '/blog/get_content/',
				data: {aid:'{{ blog.guid }}',answer:answer_str},
				beforeSend: function(xhr) {
					xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
				},
				success: function(data) {
					if(data == 'error'){
						alert("答案错误!");
						return;
					}
					markdown_to_html(data);
				}
			});
		}

		var blog_question = "{{ blog.question }}";
		if(blog_question != ""){
			var question_html = '<div>' +
									'验证问题 : {{ blog.question }}' +
									'<br>' +
									'<input style="border:1px solid black;" id="answerstr" type="text" value=""/> &nbsp;' +
									'<input style="border:1px solid black;" id="doanswer" type="button" value="回答"/>' +
								'</div>';
			$("#blog_content").html(question_html);
		}else{
			get_content("");
		}

		$("#doanswer").click(function(e){
			get_content($("#answerstr").val());
		});
	});
</script>
<!--ENDBLOCK EDITOR.MD-->


<!--BLOCK COMMENTS-->
<script type="text/javascript" charset="utf-8"
	src="/static/umeditor/umeditor.config.js"></script>
<!--<script type="text/javascript" charset="utf-8"
	src="/static/umeditor/umeditor.min.js"></script>-->
<script type="text/javascript" charset="utf-8"
	src="/static/umeditor/umeditor.min.js"></script>
<script type="text/javascript">
	$(function(){
		// SyntaxHighlighter.all();
		var form = $("#contact-form");
		form.validationEngine();
		$("#sendMsg").click(function(e){
			e.preventDefault();
			if(!form.validationEngine('validate')){
				return;
			}
			form.submit();
		});

		var ue = UM.getEditor('id_body', {
			toolbar: ['forecolor', 'backcolor', 'bold', 'fontfamily'
				, 'fontsize', 'emotion']
		});

		$(".reply_cms").click(function(e){
			var cid = $(this).attr("cid");
			var cname = $(this).attr("cname");
			var content = "<span style='text-decoration:underline;cursor:pointer;color:blue;'>@"+
				cname+"</span>&nbsp;";
			UM.getEditor('id_body').setContent(content, false);
			document.getElementById("anchor_scroll").click();
		});
	});
</script>
<!--ENDBLOCK COMMENTS-->
{% endblock %}

